<!DOCTYPE html>
<html>
<head>
<title>Traffic AI</title>
</head>
<body>

<h2>Upload Traffic Video</h2>

<form action="/upload" method="post" enctype="multipart/form-data">
  <input type="file" name="video">
  <input type="submit">
</form>

<br><br>

<h3>Uploaded videos</h3>
<ul>
{% for f in uploaded_files %}
  <li>{{ f }}
    <form action="/select_upload" method="post" style="display:inline">
      <input type="hidden" name="filename" value="{{ f }}">
      <button type="submit">Play</button>
    </form>
    <form action="/delete_upload" method="post" style="display:inline" onsubmit="return confirm('Delete {{ f }}?')">
      <input type="hidden" name="filename" value="{{ f }}">
      <button type="submit">Delete</button>
    </form>
  </li>
{% endfor %}
</ul>
<h3>Live Output</h3>
<img src="/video" width="700">

</body>
</html>
